body{
    background-color: rgb(81, 72, 121);
    text-decoration: brown;
}

tr:hover{
    background-color: rgb(130, 40, 214);
}
/* estilo por id */
#nombre{

    border: 1px double salmon;
    border-radius: 3px;
    background-color: beige;

   
}